/data/
/db.sqlite3
/venv/
/.idea/
/update_prices_dev.bat
/update_prices_prod.bat
/bourse/migrations/
/db.sqlite3
bourse/__pycache__/
bourse/templatetags/__pycache__/
djbourse/__pycache__/
utils/__pycache__/
djbourse/settings/prod.py
/export_backup
