<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid m-1">
    <div class="col-12">
        <br/>
        <a href="{% url 'index' %}">Retour à la page d'accueil</a>
        <br/>
        <p>Clé Alphavantage :</p>
            {% for key in keys %}
            <div class="form-group">
                <input type="radio" id="api_key" onclick="update_link()" value="{{key}}"/>
                <label class="col-sm-2" for="api_key">{{key}}</label>
            </div>
            {% endfor %}

        <form method="post" class="form-horizontal">
            {% csrf_token %}
            <div class="form-group">
                <label class="font-weight-bold col-sm-2" for="symbol">Symbole</label>
                <div class="col-sm-5">
                    <input class="form-control" type="text" id="symbol" onkeyup="update_link()"/>
                </div>
            </div>
            <div class="form-group">
                <label class="font-weight-bold col-sm-2" for="name">Nom</label>
                <div class="col-sm-5">
                    <input class="form-control" type="text" id="name" />
                </div>
            </div>
            <div class="form-group">
              <input type="submit" class="btn btn-primary" value="Ajouter" />
            </div>
        </form>
        <p>Sélectionner l'apikey, entrer le symbole et tester le lien pour être bien sûr que les données correspondent</p>
        <a id="lien_alphavantage"
           href="https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&interval=5min&outputsize=full">https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&interval=5min&outputsize=full</a>
    </div>
</div>

<script>
    function update_link() {
        let api_key = document.getElementById("api_key").value;
        let symbol = document.getElementById("symbol").value;

        url = "https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&interval=5min&outputsize=full" + "&symbol=" + symbol + "&apikey=" + api_key;
        document.getElementById("lien_alphavantage").href = url
        document.getElementById("lien_alphavantage").innerHTML = url
    }

</script>
</body>
</html>