{% extends 'base.html'%}

{% block content %}
<div class="container m-1">
<br/>
<h1>Menu</h1>
<ul>
    <li>
        <a href="{% url 'add-stock-symbol' %}">Ajouter une action</a>
    </li>
    <li>
        <a href="{% url 'add-transaction' %}">Ajouter une transaction</a>
    </li>
    <li>
        <a href="{% url 'upload-stocks-symbol' %}">Upload des actions</a>
    </li>
    <li>
        <a href="{% url 'get-diff-for-all-periods-and-all-stocks' %}">Différence par action pour toutes les périodes</a>
    </li>
    <li>
        <a href="{% url 'show-wallet-detail' %}">Afficher le portefeuille</a>
    </li>
</ul>
</div>
{% endblock content %}