{% extends 'base.html' %}

{% block title %}
DJBourse - Ajouter une transaction
{% endblock title %}

{% block content %}
<div class="container-fluid m-1">
    <div class="col-12">
        <div class="row">{{error}}</div>
        <form method="post" action="{% url 'transaction-create' %}" class="form-horizontal">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit">Enregistrer</button>
        </form>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"
        integrity="sha512-WNLxfP/8cVYL9sj8Jnp6et0BkubLP31jhTG9vhL/F5uEZmg5wEzKoXp1kJslzPQWwPT1eyMiSxlKCgzHLOTOTQ=="
        crossorigin="anonymous"></script>
<script>
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    function setDataStock(data) {
            console.log(data);
            $.ajax({
                 url: '{% url 'get-stock-id' %}',
                 type : 'POST',
                 headers: {
                    "X-CSRFToken": getCookie("csrftoken")
                 },
                 data: {
                 "id": data
                 },
                 success: function(response) {
                    let optText = response[0].fields['name'];
                    let optValue = response[0]['pk'];
                    $('#id_stock option:selected').removeAttr('selected');
                    $('#id_stock').append('<option value="'+optValue+'" selected>'+optText+'</option>');
                    $(':focus').blur()
                 }
             });
        }
    function setDataCurrencyCurrentValue(data) {
            console.log(data);
            $.ajax({
                 url: '{% url 'get-currency-current-value-id' %}',
                 type : 'POST',
                 headers: {
                    "X-CSRFToken": getCookie("csrftoken")
                 },
                 data: {
                 "id": data
                 },
                 success: function(response) {
                    console.log(response);
                    let optText = response["response"];
                    let optValue = data;
                    $('#id_currency_current_value option:selected').removeAttr('selected');
                    $('#id_currency_current_value').append('<option value="'+optValue+'" selected>'+optText+'</option>');
                    $(':focus').blur()
                 }
             });
        }
        $(document).ready(function() {
            console.log( "ready!" );
            document.querySelector('#add_stock').onclick = function () {
            var href = $(this).attr('href');
            var popup = window.open(href, '', "width=800, height=600");

            var popupTick = setInterval(function() {
            if (popup.closed) {
                clearInterval(popupTick);
                console.log('window closed!');
            }
            }, 500);
            return false;
            };

            document.querySelector('#add_currency_current_value').onclick = function () {
            var href = $(this).attr('href');
            var popup = window.open(href, '', "width=800, height=600");

            var popupTick = setInterval(function() {
            if (popup.closed) {
                clearInterval(popupTick);
                console.log('window closed!');
            }
            }, 500);
            return false;
            };
        });

</script>
{% endblock content %}