{% extends 'base.html'%}

{% block content %}
<div class="container m-1">
<br/>
<h1>Menu</h1>
<ul>
    <li>
        <a href="{% url 'stock-create' %}">Ajouter une action</a>
    </li>
    <li>
        <a href="">Ajouter une clé alphavantage</a>
    </li>
    <li>
        <a href="{% url 'transaction-create' %}">Ajouter une transaction</a>
    </li>
    <li>
        <a href="{% url 'upload-stocks-symbol' %}">Upload des actions</a>
    </li>
    <li>
        <a href="{% url 'show-stocks-followed' %}">Actions suivies</a>
    </li>
    <li>
        <a href="{% url 'show-wallet-detail' %}">Afficher le portefeuille</a>
    </li>
</ul>
</div>
{% endblock content %}